*{
    margin: 0;
    padding: 0;
}
/* header */
.header .menu_food{
    position: relative;
    display: inline-block;
}
.header .menu_food .dropdown-menu{
    display: none;
    position: absolute;
    background-color: rgb(255, 145, 0);
    z-index: 1;
}
.header .menu_food:hover .dropdown-menu{
    display: block;
}
.header .menu_food .dropdown-item{
    background-color: rgb(255, 145, 0);
}
.header .menu_food:hover .dropdown-item{
    display: block;
}
.header .dropdown .dropdown-item{
    background-color: rgb(255, 145, 0);
}
.header .dropdown:hover .dropdown-item{
    display: block;
}
/* main */
main .dropdown{
    position: relative;
    display: inline-block;
}
main .dropdown .dropdown-menu{
    display: none;
    position: absolute;
    background-color: rgb(255, 145, 0);
    z-index: 1;
}
main .dropdown:hover .dropdown-menu{
    display: block;
}
main .dropdown .dropdown-item{
    background-color: rgb(255, 145, 0);
}
main .dropdown:hover .dropdown-item{
    display: block;
}
/* -------------------cart----------------- */
.contain-fluid{
    background-image: url(img/main-banner.png);
    background-repeat: none;
}
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 70px;
}
.cart h2{
    margin-bottom: 20px;
}
.cart table{
    width: 100%;
}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table tr td{
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.cart table thead tr th:last-child{
    text-align: right;
}
.cart table tbody tr td:last-child{
    text-align: right;
}
.price-total{
    text-align: right;
    padding-top: 50px;
}
/* ------------- */
.cart{
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color: rgb(250, 181, 53);
    background-image: url(img/main-banner.png);
    padding: 120px 30px;
    overflow-y: scroll;
    right: -100%;
}
.cart button{
    margin-top: 12px;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
     background-color:rgb(255, 145, 0);
}
.cart i{
   cursor: pointer;
   margin-bottom: 30px; 
}
.cart-icon i{
    cursor: pointer;
}
.shopping-cart{
    cursor: pointer;
}